bootstrap/compiled.php
vendor/
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/config/database.php
*.iml
.idea/
DEFAULT/uploads/concepts/*
DEFAULT/uploads/news/*
DEFAULT/uploads/logos/*
DEFAULT/uploads/events/*
_ide_helper.php
_ide_helper_models.php
# sass
DEFAULT/.sass-cache/
DEFAULT/css/screen.css
DEFAULT/css/admin/screen.css
.vagrant
app/storage/debugbar/*.json
concept_bedrijf_header_footer/