bootstrap/compiled.php
vendor/
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/config/database.php
*.iml
.idea/
public/uploads/concepts/*
public/uploads/news/*
public/uploads/logos/*
_ide_helper.php
_ide_helper_models.php
# sass
public/.sass-cache/
public/css/screen.css
public/css/admin/screen.css
.vagrant
app/storage/debugbar/*.json
concept_bedrijf_header_footer/