.container-login {
  padding-top:150px;
  >img {
    display:block;
    margin:0 auto;
  }
  >.panel-login {
    max-width: 600px;
    margin:0 auto;
  }
}

.container-layout {
  &.moar-padding {
    margin-top:60px;
  }
  padding-top:50px;
  h2 {
    margin-top:0;
  }
}

table a.btn, .table a.btn {
  text-decoration: none;
}

.pagination-center {
  text-align:center;
}